* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,54,143));
    font-family: sans-serif;
    color: white;
}

.location, .temperature {
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.location {
    width: 35%;
    height: 15h;
}

.location1 {
    height: 15vh;
    width: 50%;
    /* flex-direction: row; */
    display: flex;
    justify-content: center;
    align-items: center; 
}

.set-btn, a {
    font-size: 20px;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}

/* .temperature {
    height: 25vh;
    flex-direction: column;
} */

/* .degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}  */

/* .degree-section span {
    margin: 10px;
    font-size: 30px;
} */

/* .degree-section h2 {
    font-size: 40px;
} */



.wicon {
    pointer-events: none;
    max-height: 50%;
}

/* Search based on City */
.c-search {
    border-style: none;
    border-radius: 0.2rem;
    min-width: 300px;
    padding: 8px 16px;
    font-size: 1.5rem;
    margin: 5px;
    outline: none;
}

.city {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 5px; */
}

.fa ,.fa-search, .fa-2x{
    pointer-events: none;
    cursor: pointer;
    color: white;
}

.fa-sync-alt {
    cursor: pointer;
    background-color: transparent;
    color: lightsteelblue;
}

.temp-btn {
    background-color: transparent;
    /* border-style: none; */
    border-color: transparent;
    cursor: pointer;
    padding: 5px ;
    outline: none;
}

.s-btn {
    cursor: pointer;
    padding: 6px 6px;
    border-radius: 5rem;
    outline: none;
    border-style: none;
    background-color: transparent;
}

/* details sun rise and set */

.weather-details {
    display: flex;
}


.sunrise, .sunset, .humidity {
    /* margin: 5px 15px; */
    padding: 5px 20px;
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.degree-section {
    padding: 5px 20px;
}

/* TEMP SECTION */
.temperature-degree {
    font-weight: bolder;
    font-size: 22px;
}

.tempR {
    font-weight: bolder;
    font-size: 23px;
}

.temperature-description {
    font-size: 2rem;
}

/* titles in the detail section */
.s-title, .ss-title, .h-title, .tp-title{
    padding: 5px;
}

.sunrise-time, .sunset-time, .humid-perct {
    padding: 5px;
}

.temperature-degree {
    padding: 10px 0px 0px 5px;
}

.tempR {
    padding: 10px 0px 0px 0px;
}